ul {
  text-decoration: none;
  list-style:none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.user-title {
  padding: 1rem 0;
}

.users {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 3px;
  position: relative;

}
.user__avathar {
  width: 150px;
}
.user__name {
  text-align: center;
}

.user__header {

}
.list{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:0.4rem;
  padding-bottom: 0.5rem;
}

.add-btn {
  width: 50px;
  background-color: transparent;
  border: none;
  outline: 0;
  cursor: pointer;
}
.close-btn {
  width: 30px;
  background-color: transparent;
  border: none;
  outline: 0;
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.add_users {
  padding: 1rem 0;
}

@media only screen and (max-width: 768px) {
  .user__avathar {
    width: 120px;
  }
}